@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
/* mobile view */
.aboutBody {
  margin-top: 5%;
  padding-top: 5%;
}

.work_div {
  text-align: center;
}

.about_div {
  text-align: center;
}
 
.about_me {
  /* margin-left: 21%;  */
  font-size: 25px;
  font-family: 'Fredoka One';
  border-bottom: 4px solid  #20AAF3;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.skill_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5%;
  margin-bottom: 2%;
  box-shadow: 0 1px 1px 0 grey ;
  background-color: white;
  height: 100%;
}

.skill_item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.skill_item img {
    width: 40%;
    height: 40px;
    margin-bottom: 5%;
}
.image_box {
    color: black;
    font-size: 13px;
    font-family: 'Fredoka One';
  border-radius: 1px;
  transition: transform 0.5s;
}

.image_box:hover{
  padding-top: 1%;
  background-color: #20AAF3;
  transform: translateY(-20px);
  border-radius:15px 5px;
  color: white;
}

.experience_div {
  margin-top: 10%;
}

.work_experience {
    /* margin-left: 20%; */
    font-size: 25px;
    font-family: 'Fredoka One';
    border-bottom: 4px solid #20AAF3;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.experience_note {
  display: grid;
  grid-template-rows: 50% 50%;
  padding-bottom: 5%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5%;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 3%;
  
}

.experience_grid_item {
  padding-left: 0;;
  font-size: 19px;
  color: white;
  font-family: 'Fredoka One';
  margin-bottom: 7%;
}

.experience_grid_item p {
  margin-left: 5%;
}

.company_experience {
  border-bottom: 3px solid #20AAF3;
  border-radius: 50px;
}

.experience_list {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
}

/* ipad */
@media only screen and (min-width: 700px) and (max-width: 799px)  { 
  .about_me {
    /* margin-left: 32%;  */
    font-size: 35px;
  }

  .work_experience {
    /* margin-left: 28%; */
    font-size: 35px;
}

.experience_list {
  font-size: 22px;
}

.skill_item {
  padding: 20px;
  font-size: 35px;
  text-align: center;
}

}

/* ipad pro */
@media only screen and (min-width: 800px) and (max-width: 1070px)  { 

  .about_me {
    /* margin-left: 32%;  */
    font-size: 45px;
  }

  .work_experience {
    /* margin-left: 29%; */
    font-size: 45px;
}

.experience_grid_item {
  padding-left: 0;;
  font-size: 29px;
  color: white;
  font-family: 'Fredoka One';
  margin-bottom: 7%;
}

.experience_list {
  font-size: 27px;
}

.skill_item {
  padding: 20px;
  font-size: 35px;
  text-align: center;
}

.skill_item img {
    width: 50%;
    height: 70px;
    margin-bottom: 5%;
}
.image_box {
    color: black;
    font-size: 20px;
}
}

/* desktop view */
@media only screen and (min-width: 1071px)  { 
/* .about_me {
  margin-left: 43%
} */

.skill_grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding: 10px;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 2%;
  box-shadow: 0 8px 32px 0 grey ;
  /* background-color: #20AAF3; */
  background-color: white;
  height: 300px;
}

.work_experience {
  /* margin-left: 43%; */
  font-size: 25px;
}

.experience_note {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 5%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5%;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  
}

.experience_grid_item {
  padding-left: 15%;;
  font-size: 15px;
  color: white;
  font-family: 'Fredoka One';
  margin-bottom: 0;
}

.experience_list {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}
}
