/* mobile design */
.certification-body { 
    margin: 10% 0% 1% 0%;
}

footer {
    margin-top: 2%;
    text-align: center;
    color: black;
    background-color:  #20AAF3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cert_header {
    margin-left: 0;
    text-align: center; 
    margin-bottom : 2%;
    color : black;
    font-family: 'Fredoka One';
    font-size: 27px;
}

.cert_header span {
    border-bottom : 7px solid #20AAF3;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; 
}

.contactGridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    width: 100%;
}

.contactGrid {
    padding: 2% 2% 2% 2%;
    
}

.contactInput {
    margin-bottom: 2%;
}

.contact-intro {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mail {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
}

.contactLogo {
    margin-right: 1%;
}

/* .contactGrid form {
    margin-top: 5%;
}

.contactInput input {
    width: 100%;
    border: 1px solid #20AAF3;
    border-radius: 5px;
}

.contactInput div {
    font-family: 'Fredoka One';
}

textarea {
    width: 100%;
    border: 1px solid #20AAF3;
    border-radius: 5px;  
}

.contactButton button {
    width: 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #64B409;
    border: 1px solid #64B409;
    border-radius: 5px;
}

.contactButton button:hover {
    color: white;
    width: 35%;
} */

.awesomeLogos {
    margin-right: 6%;
}

.awesomeLogos:hover {
    color: #20AAF3;
}

/* ipad design */
@media only screen and (min-width: 700px) and (max-width: 800px)  { 
    .contactGridContainer {
        display: grid;
        grid-template-columns: 40% 58%;
        grid-column-gap: 5%;
        width: 100%;
    }

    .contactGrid {
        padding: 0 4% 2% 2%;
        font-size: 17.5px;
        
    }

    .cert_header {
        margin-left : 0; 
        font-size: 35px;
        text-align: center;
    }

}

/* ipad pro design */
@media only screen and (min-width: 801px) and (max-width: 1069px)  { 
    .contactGridContainer {
        display: grid;
        grid-template-columns: 40% 58%;
        grid-column-gap: 5%;
        width: 100%;
    }

    .contactGrid {
        padding: 0 4% 2% 2%;
        font-size: 17.5px;
        
    }

    .cert_header {
        /* margin-left : 33%;  */
        margin-left: 0px;
        font-size: 35px;
        text-align: center;
    }
}

/* desktop view */
@media only screen and (min-width: 1070px)  {

    .certification-body {
        margin: 10% 4% 1% 4%;
    }
    
    footer {
        margin-top: 2%;
        text-align: center;
        color: black;
        background-color:  #20AAF3;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .cert_header {
        margin-left : 0; 
        margin-bottom : 2%;
        color : black;
        font-family: 'Fredoka One';
        font-size: 27px;
        text-align: center;
    }
    
    .cert_header span {
        border-bottom : 7px solid #20AAF3;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px; 
    }
    
    .contactGridContainer {
        display: grid;
        grid-template-columns: 40% 50%;
        grid-column-gap: 10%;
        width: 100%;
    }
    
    .contactGrid {
        padding: 2% 2% 2% 22%;
        
    }
    
    .contactInput {
        margin-bottom: 2%;
    }
    
    .contact-intro {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .mail {
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 5%;
    }
    
    .contactLogo {
        margin-right: 1%;
    }
    
    .contactGrid form {
        margin-top: 5%;
    }
    
    .contactInput input {
        width: 100%;
        border: 1px solid #20AAF3;
        border-radius: 5px;
    }
    
    .contactInput div {
        font-family: 'Fredoka One';
    }
    
    textarea {
        width: 100%;
        border: 1px solid #20AAF3;
        border-radius: 5px;  
    }
    
    .contactButton button {
        width: 30%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #64B409;
        border: 1px solid #64B409;
        border-radius: 5px;
    }
    
    .contactButton button:hover {
        color: white;
        width: 35%;
    }
    
    .awesomeLogos {
        margin-right: 6%;
    }
    
    .awesomeLogos:hover {
        color: #20AAF3;
    }
}
