/* mobile Design */
.profile{
    opacity : 1;
    transition: opacity 15s;
}

.profile2{
    opacity : 0;
}
.profilePic{
    margin-top : 14%;
    margin-left : 33%;
}

.profilePic img {
    border-radius:  50%;
    width : 120px;
}

.introduction_name {
    margin-left : 2%;
    display: flex;
}

.greeting {
    color : grey;
    font-size: 19px;
    font-weight: bold;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name{
    color : yellowgreen;
    font-size : 16px;
    font-weight : bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 0;
    border-bottom: 5px solid yellowgreen;
}

.typing-effect{
    margin-top : 2%;
    margin-left : 12%;
    color : grey;
    font-size : 14px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.logos{
    margin-left : 20%;
    margin-top : 4%;
}

.awesomeLogos{
    margin-right : 8%;
}

.Resume-contact{
    display: flex;
    margin-top : 13%;
    margin-left : 5%;
    
}

.resume{
    border : 3px solid yellowgreen;
    width : 40%;
    text-decoration-color: white;
    height : 65px;
    margin-left : 4%;
    color :grey;
    font-size : 18px;  
    border-radius : 10px; 
}

.resume:active{
    color : white;
    background-color: yellowgreen;
}

.resume p{
    margin-top : 15%;
    margin-left : 15%;
}

.contactMe{
    border : 3px solid yellowgreen;
    width : 40%;
    height : 60px;
    margin-left : 4%;
    color : grey;
    font-size : 18px;
    border-radius : 10px;
}

.contactMe:active{
    color : white;
    background-color: yellowgreen;
}

.contactMe p{
    margin-top : 15%;
    margin-left : 15%;
}

.ArrowDown {
    margin-left : 46%;
    position : relative;
    animation-name : example;
    animation-duration : 1s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {transform:translateY(0);}
    to {transform:translateY(20%);}
  }

  /* desktop view */
  @media only screen and (min-width: 766px)  { 
    .profilePic{
        margin-top : 7%;
        margin-left : 41%;
    }
    
    .profilePic img {
        border-radius:  50%;
        width : 140px;
    }
    
    .introduction_name {
        margin-left : 20%;
    }
    
    .greeting {
        color : grey;
        font-size: 50px;
        font-weight: bold;
        font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .name{
        color : yellowgreen;
        font-size : 48px;
        font-weight : bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 0;
        border-bottom: 5px solid yellowgreen;
    }
    
    .typing-effect{
        margin-top : 1%;
        margin-left : 34%;
        color : grey;
        font-size : 22px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .logos{
        margin-left : 39%;
        margin-top : 2%;
    }
    
    .awesomeLogos{
        margin-right : 5%;
    }
    
    .Resume-contact{
        display: flex;
        margin-top : 2%;
        margin-left : 26%;
        
    }
    
    .resume{
        border : 3px solid yellowgreen;
        width : 23%;
        height : 60px;
        margin-left : 4%;
        color :grey;
        font-size : 18px;   
        border-radius : 10px;
    }
    .resume:hover{
        color : white;
        background-color: yellowgreen;
    }
    
    .resume p{
        margin-top : 8%;
        margin-left : 25%;
    }
    
    .contactMe{
        border : 3px solid yellowgreen;
        width : 23%;
        height : 60px;
        margin-left : 4%;
        color : grey;
        font-size : 18px;
        border-radius : 10px;
    }
    
    .contactMe p{
        margin-top : 8%;
        margin-left : 25%;
    }

    .contactMe:hover{
        color : white;
        background-color: yellowgreen;
    }
    .ArrowDown {
        margin-left : 46%;
        animation-name : example;
        animation-duration : 1s;
        animation-iteration-count: infinite;
    }
    
    @keyframes example {
        from {transform:translateY(0);}
    to {transform:translateY(20%);}
      }
  }

  @media only screen and (max-width: 1030px) and (min-width: 1020px)  {

    /* Profile style for tablet ipad pro*/

    .profilePic{
        margin-top : 37%;
        margin-left : 45%;
    }

    .profilePic img {
        border-radius:  50%;
        width : 128px;
    }

    .greeting {
        font-size : 40px;
    }

    .Resume-contact{
        display: flex;
        margin-top : 2%;
        margin-left : 30%;
        
    }
  }

  @media only screen and (max-width: 770px) and (min-width: 765px)  {

    /* Profile style for tablet ipad*/

    .profilePic{
        margin-top : 37%;
        margin-left : 37%;
    }

    .profilePic img {
        border-radius:  50%;
        width : 210px;
    }

    .introduction_name {
        margin-left : 6%;
    }

    .Resume-contact{
        display: flex;
        margin-top : 2%;
        margin-left : 26%;
        
    }
    .resume{
        
        width : 28%;
    }

    .greeting {
        font-size : 40px;
    }
    
    .resume p{
        margin-top : 8%;
        margin-left : 25%;
    }
    
    .contactMe{
        width : 28%;
    }
    
    .contactMe p{
        margin-top : 8%;
        margin-left : 25%;
    }
    
    .ArrowDown {
        margin-left : 50%;
        
    }
  }