.projectBody{
    padding-top: 5%;
    background-color : white;
    color : black;
    margin-bottom : 4%;
} 

.projectHeader{ 
    margin-top : 4;
    /* margin-left : 35%; */
    margin-bottom : 5%;
    color : black;
    text-align: center;
}

.projectHeader span {
    font-size : 27px;
    border-bottom : 7px solid #20AAF3;
    font-family: 'Fredoka One';
    color : black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;;
}

.projects{
    display : grid;
    grid-template-columns: 100%;
    /* grid-column-gap: 5%;; */
    /* grid-row-gap: 15%; */
    flex-direction: column;
    margin-left : 4%;
    margin-right : 4%;
    margin-bottom : 13%;
}

.projectGrid {
    margin-bottom: 8%;
}

.projectGrid:hover  {
    border-radius: 20px;
   box-shadow: 0px 5px 5px 0px;
}
.projectGrid img {
    border-radius: 20px;
    width: 100%;
    height: 140px;

}

.projectGrid section {
    margin-top: 5%;
   text-align: center;
   margin-bottom: 1.5%;
}

.projectGrid section h5 {
    font-family: 'Fredoka One';
 }

 .projectGrid section p {
    font-family: 'georgia';
 }

 .projectGrid section button {
    background-color:  #20AAF3;
    border-radius: 5px;
    border: 1px solid #20AAF3;
    color: white;
 }

 .projectName {
     color: white;
     font-family: georgia;
 }

 .projectGrid section button:hover {
     color: black;
 }

 .projectName:hover {
     color: black;
 }

.see_more {
    text-align: center;
    margin-top: 25%;
}

.see_more button {
    background-color: #64B409;
    color: white;
    border-radius: 5px;
    border: 1px solid #64B409;
    width: 45%;
    font-family: 'Fredoka One'
}

.see_more button:hover {
    color: black;
    background-color: rgb(212, 208, 208);
    border: 1px solid white;
}


/* ipad view */
@media only screen and (min-width: 700px) and (max-width: 800px)  { 
    /* .projectHeader{ 
        margin-left : 45%;
    } */

    .projectHeader span {
        font-size : 35px;
    }

    .projects{
        display : grid;
        grid-template-columns: 48% 48%;
        grid-column-gap: 2%;;
        grid-row-gap: 5%;
        flex-direction: column;
        margin-left : 1px;
        margin-right : 1px;
        margin-bottom : 13%;
    }

    .projectGrid {
        margin-bottom: 0;
    }

    .see_more {
        text-align: center;
        margin-top: 28%; 
    }

    .see_more button {
        background-color: #64B409;
        color: white;
        border-radius: 5px;
        border: 1px solid #64B409;
        width: 35%;
        font-family: 'Fredoka One'
    }
}

/* ipad pro */
@media only screen and (min-width: 801px) and (max-width: 1070px)  { 
    /* .projectHeader{ 
        margin-left : 40%;
    } */

    .projectHeader span {
        font-size : 45px;
    }

    .projects{
        display : grid;
        grid-template-columns: 48% 48%;
        grid-column-gap: 4%;;
        grid-row-gap: 5%;
        flex-direction: column;
        margin-left : 1px;
        margin-right : 1px;
        margin-bottom : 13%;
    }

    .projectGrid section p {
        font-family: 'georgia';
        font-size: 20px;
     }
    .projectGrid {
        margin-bottom: 0;
    }

    .see_more {
        text-align: center;
        margin-top: 25%; 
    }

    .see_more button {
        background-color: #64B409;
        color: white;
        border-radius: 5px;
        border: 1px solid #64B409;
        width: 35%;
        font-size: 23px;
        font-family: 'Fredoka One'
    }
}


/* desktop view */
@media only screen and (min-width: 1071px)  {
    .projectHeader{ 
        margin-top : 4;
        /* margin-left : 47%; */
        margin-bottom : 5%;
        color : black;
    }

    .projects{
        display : grid;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 5%;;
        grid-row-gap: 15%;
        flex-direction: column;
        margin-left : 4%;
        margin-right : 4%;
        margin-bottom : 13%;
    }

    .projectGrid img {
        border-radius: 20px;
        width: 100%;
        height: 140px;
    
    }

    .projectGrid:hover  {
        border-radius: 20px;
       box-shadow: 0px 5px 5px 0px;
    }
    .projectGrid img {
        border-radius: 20px;
        width: 100%;
        height: 140px;
    
    }
    
    .projectGrid section {
        margin-top: 5%;
       text-align: center;
       margin-bottom: 1.5%;
    }

    .projectGrid {
        margin-bottom: 0;
    }

    .see_more button {
        background-color: #64B409;
        color: white;
        border-radius: 5px;
        border: 1px solid #64B409;
        width: 15%;
        font-family: 'Fredoka One'
    }
}
