.App{
  background-color : black;
width : 100%;
/* overflow-x: hidden;  */
cursor: pointer;
}
 
/* mobile design */
.navigation{
  color : yellowgreen;
  display : flex;
  width : 100%;
}

.cert{
  color :yellowgreen;
}
.cert:hover{
  color : grey;
}

.brandName{
  color : grey;
  display : flex;
  font-family: cursive;
  margin-left : 5%; 
  font-style: italic;
  margin-top : 3%;
  font-size : 23px;
}

.span1 {  
  margin-right : 10%;
}

.navigation ul{
  display: none;
}

.navigation ul li:hover{
  color : grey;
}

.barIcon {
  margin-left : 42%;
  cursor : pointer;
  font-size : 28px;
  margin-top : 3%;
  margin-right : 2%;
}

.mobileNavlist{
  display: block;
  color : yellowgreen;
  margin-left : 40%;
  font-family : 'Times New Roman', Times, serif;
  margin-top : 4%;
}

.mobileNavlist span {
  font-size : 21px;
}


/* for desktop */
@media only screen and (min-width: 1031px)  { 
/* navigation style */
.navigation{
  color : yellowgreen;
  display : flex;
  width : 100%;
}

.brandName{
  color : grey;
  display : flex;
  font-family: cursive;
  margin-left : 5%;
  font-style: italic;
  margin-top : 1%;
}

.span1 {  
  margin-right : 10%;
}

.navigation ul{
  display: flex;
  list-style: none;
  margin-left: 52%;
  font-family: cursive;
  margin-top : 2%;
}

.navigation ul li {
  margin-left : 9%;
  cursor: pointer;
}

.barIcon{
  display: none;
}
.mobileNavlist{
  display: none;
}

}


@media only screen and (max-width: 1030px) and (min-width: 1020px)  {

  /* navigation style for tablet ipad pro*/
.navigation{
  color : yellowgreen;
  display : flex;
  width : 100%;
  font-size: 21px;
}

.brandName{
  color : grey;
  display : flex;
  font-family: cursive;
  margin-left : 2%;
  font-style: italic;
  margin-top : 2%;
}

.navigation ul{
  display: flex;
  list-style: none;
  margin-left: 30%;
  font-family: cursive;
  margin-top : 2%;
}
.navigation ul li {
  margin-left : 5%;
  cursor: pointer;
}

.barIcon{
  display: none;
}
.mobileNavlist{
  display: none;
}
}

@media only screen and (max-width: 770px) and (min-width: 765px)  {
  
  /* navigation style for tablet ipad*/
.navigation{
  color : yellowgreen;
  display : flex;
  width : 100%;
  font-size: 21px;
}

.brandName{
  color : grey;
  display : flex;
  font-family: cursive;
  margin-left : 2%;
  font-style: italic;
  margin-top : 3%;
}

.navigation ul{
  display: flex;
  list-style: none;
  margin-left: 20%;
  font-family: cursive;
  margin-top : 3%;
}
.navigation ul li {
  margin-left : 5%;
  cursor: pointer;
}

.barIcon{
  display: none;
}
.mobileNavlist{
  display: none;
}
}