@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.App{
  background-color: black;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.Appnavigation{
  display: none;
}

@media only screen and (max-width: 600px) {
.Appnavigation{
display: block;
}
}